@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Leckerli+One&family=Libre+Baskerville&family=Raleway:wght@100&display=swap');

@layer base{
  html{
    font-family: 'Raleway', sans-serif;
  }
  body{
    background-image: url('./assets/EB4BABF8-A253-4D51-9F0A-71C47D6DA50C.jpeg');
  }
  }

  .text-shadow-css {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.299);
  }

  .text-shadow-NavBar {
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
  }
  .hs-menu-nav {
    background: rgba(255, 255, 255, 0.5); /* White background with 50% opacity */
    color: black; /* Black text */
    font-weight: bold; /* Bold font */
  }

  .message-card-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }

  .message-card-scroll {
    max-height: 300px;
    overflow-y: auto;
  }

  .message-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
  }

  .message-card h3 {
    margin-top: 0;
  }

  .message-card p {
    margin: 5px 0;
  }