@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Leckerli+One&family=Libre+Baskerville&family=Raleway:wght@100&display=swap');

@layer base{
  html{
    font-family: 'Raleway', sans-serif;
  }
  body{
    background-image: url('./assets/EB4BABF8-A253-4D51-9F0A-71C47D6DA50C.jpeg');
  }
  }

  .text-shadow-css {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.299);
  }

  .text-shadow-NavBar {
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
  }
  .hs-menu-nav {
    background: rgba(255, 255, 255, 0.5); /* White background with 50% opacity */
    color: black; /* Black text */
    font-weight: bold; /* Bold font */
  }